# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
TapGear_iOS/
TapGear_iOSSim/
TapGear_Web/
Docs/
StoreBuilds/
Builds/
*.meta

# =================================== #
# Propeller SDK Unity plugin imported #
# =================================== #
Assets/Editor/PropellerPostprocessBuildPlayer.cs
Assets/Plugins/Android/PropellerSDKUnityPlugin.jar
Assets/Plugins/Android/AndroidManifest.example.xml
Assets/Plugins/Android/AndroidManifest.example.shared.xml
Assets/Plugins/Android/PropellerSDK_Android.jar
Assets/Plugins/Android/PropellerSDK_Android_GCM.jar
Assets/Plugins/Android/android-support-v4.jar
Assets/Plugins/Android/google-play-services.jar
Assets/Plugins/Android/res/drawable-hdpi/notify_icon.png
Assets/Plugins/Android/res/drawable-ldpi/notify_icon.png
Assets/Plugins/Android/res/drawable-mdpi/notify_icon.png
Assets/Plugins/Android/res/drawable-xhdpi/notify_icon.png
Assets/Plugins/Android/res/values/version.xml
Assets/Plugins/FuelDynamics.cs
Assets/Plugins/FuelDynamics.prefab
Assets/Plugins/PropellerCommon.cs
Assets/Plugins/PropellerSDK.cs
Assets/Plugins/PropellerSDK.prefab
Assets/Plugins/PropellerSDKListener.cs
Assets/Plugins/PropellerSDKNotificationListener.cs
Assets/Plugins/PropellerSDKSimpleJSON.cs
Assets/Plugins/iOS/PropellerSDK.h
Assets/Plugins/iOS/PropellerSDKUnityWrapper.mm
Assets/Plugins/iOS/libPropellerSDK.a
Assets/Propeller/Examples/ComboBox.cs
Assets/Propeller/Examples/PropellerExample.cs
Assets/Propeller/Examples/PropellerExample.prefab
Assets/Propeller/Examples/PropellerExample.unity
Assets/Propeller/Examples/PropellerListenerExample.cs
Assets/Propeller/Examples/PropellerNotificationListenerExample.cs
Assets/Propeller/Examples/PropellerSDKUnityPlugin.zip
Assets/Propeller/PostbuildScripts/PostbuildPropellerScript
Assets/Propeller/PostbuildScripts/PropellerBuild.py
Assets/Propeller/PostbuildScripts/mod_pbxproj.py
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.apk
*.pyc

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.idea
Icon?
ehthumbs.db
Thumbs.db
