# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
TapGear_iOS/
TapGear_iOSSim/
TapGear_Web/
Docs/
StoreBuilds/


 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.apk
*.pyc

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.idea
Icon?
ehthumbs.db
Thumbs.db
